.left { float:left; }
.clear { clear: both; }

* { font-family: Arial; }
body { background-color: #181a1d; }

div.video {
	background-color: #1c1e21;
	margin-left: 0%;
	margin-right: 0%;
	margin: 10px 0px 10px 0px; }

img {
	width: 380px;
	height: 214px; }

h4 {
	line-height: 30px;
	font-size: 30px;
	margin: 0px 0px -10px 0px; }

p {
	color: grey;
	line-height: 5px;
	font-size: 1.9em; }

a {
	text-decoration: none;
	color: black; }