a
{
	text-decoration: none;
	color: black;
}

p
{
	line-height: 10px;
	font-size: 1.9em;
}

h4
{
	line-height: 35px;
	font-size: 30px;
}
img
{
	width: 380px;
	height: 214px;
	margin: 0px 10px 0px 10px;
}
.left
{
	float:left;
}

.clear
{
	clear: both;
}

